# Variables de entorno
.env

# Entorno virtual
venv/
.venv/

# Archivos de log
*.log

# Cache
**/__pycache__/
*.pyc

# Build artifacts
build/
dist/
*.egg-info/

# Enrutador Entrenado
**/intent_router.joblib

# Linting y formateo
.ruff_cache/

# IDEs
.vscode/
*.idea/

# Ejemplos y archivos temporales
ejemplo.py