include README.md
include LICENSE
include requirements.txt
recursive-include lunita *.json
recursive-include lunita *.py
prune venv
prune .git
prune .ruff_cache
prune */__pycache__
global-exclude *.pyc